// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// website colors:
$light-yellow: #fefbf7;
$light-orange: #FEF1E6;
$burnt-orange: #EE8374;
$bright-orange: #FF5126;
$light-blue: #B6D7DE;
$lighter-blue: #DAEBEE;
$dark-blue: #1B435D;
