// Specific CSS for your home-page
body {
  background-color: $light-orange;
}

a {
  text-decoration: none !important;
}

p, h1, h2 {
  color: $dark-blue;
}

h1, h2 {
  font-family: "Source Serif Pro", "serif";
}

.main-heading {
  font-size: 65px;
}

.sub-heading {
  font-size: 32px;
}

// if screen size is between 1399px and 991px, set mainheading to 50px
@media only screen
  and (min-width: 991px)
  and (max-width: 1399px) {
    .main-heading {
      font-size: 50px;
    }
    .sub-heading {
      font-size: 25px;
    }
}

// if screen size is between 991px and 768px
@media only screen
  and (min-width: 768px)
  and (max-width: 991px) {
    .main-heading {
      font-size: 45px;
    }
    .sub-heading {
      font-size: 25px;
    }
}

.headline-tags {
  // margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home-heading-container {
  height: calc(100vh - 49.5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-container {
  height: 600px;
  overflow-y: scroll;
  padding-bottom: 50px;
}

// If the screen size is 767px wide or less, reduce height + remove scroll
@media screen and (max-width: 767px) {
  .home-heading-container {
    height:auto;
    margin-top: 50px;
  }
  .work-container {
    overflow-y: visible;
  }
}
