// Specific CSS for your home-page
body {
  background-color: $light-orange;
}

a {
  text-decoration: none !important;
}

p, h1, h2 {
  color: $dark-blue;
}

h1, h2 {
  font-family: "Source Serif Pro", "serif";
}

// h2 {
//   font-family: 'Poppins', "sans-serif";
//   font-weight: 300;
// }

.main-heading {
  font-size: 4.2vw;
}

.sub-heading {
  font-size: 2.2vw;
}

.action-p {
  font-size: 1.1vw;
}

.headline-tags {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home-heading-container {
  height: calc(100vh - 49.5px);
  display: flex;
  align-items: center;
}

.work-container {
  height: 600px;
  overflow-y: scroll;
  padding-bottom: 50px;
}
