// Specific CSS for your home-page
body {
  background-color: $light-orange;
}

a {
  text-decoration: none !important;
}

p, h1, h2 {
  color: $dark-blue;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.main-heading {
  font-size: 79px;
}

.home-heading-container {
  height: calc(100vh - 49.5px);
  width: 50vw;
  display: flex;
  align-items: center;
}

.showcase-container {
  height: calc(100vh - 49.5px);
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-container {
  height: 600px;
  overflow-y: scroll;
  width: 50vw;
}

.work-card {
  height: 300px;
  margin: 30px auto;
  width: 40vw;
  border: 1px solid grey;
  border-radius: 15px;

  &:hover {
    transform: translate3d(0,-5px,0);
    box-shadow: 0 40px 74px rgba(0, 0, 0, 0.12);
  }
}
