<div class="footer">
  <div>
    <hr style="margin: 10px 150px">
    <div class="d-flex align-items-center justify-content-between" style="width: 800px; margin: 0 auto">
      <div class="footer-links">
        <a href="https://github.com/reemgawad"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/reemgawad/"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/gwdreem"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-copyright english-font">
        © 2022, Reem Gawad
      </div>
    </div>
  </div>
</div>
