<div class="skill-table">
<div class="skill-tag">
  <i class="fak fa-rails"></i>
  <h4>Ruby on Rails</h4>
</div>
<div class="skill-tag">
  <i class="fa-brands fa-js"></i>
  <h4>Javascript</h4>
</div>
<div class="skill-tag">
  <i class="fak fa-typescript"
  style="font-size: 70px;
  margin-top: 6px;
  margin-bottom: 8px;"></i>
  <h4>Typescript</h4>
</div>
<div class="skill-tag">
  <i class="fa-brands fa-node"></i>
  <h4>Node.js</h4>
</div>
<div class="skill-tag">
  <i class="fa-brands fa-react"></i>
  <h4>React</h4>
</div>
<div class="skill-tag">
  <i class="fa-brands fa-html5"></i>
  <h4>HTML</h4>
</div>
<div class="skill-tag">
  <i class="fa-brands fa-css3-alt"></i>
  <h4>CSS</h4>
</div>
<div class="skill-tag">
  <i class="fa-brands fa-sass"></i>
  <h4>Sass</h4>
</div>
<div class="skill-tag">
  <i class="fa-brands fa-figma"></i>
  <h4>Figma</h4>
</div>
<div class="skill-tag">
  <i class="fa-brands fa-bootstrap"></i>
  <h4>Bootstrap</h4>
</div>
<div class="skill-tag">
  <i class="fa-solid fa-database"></i>
  <h4>SQL</h4>
</div>
<div class="skill-tag">
  <i class="fa-brands fa-git-alt"></i>
  <h4>Git</h4>
</div>
</div>
