 <div class="container">
  <div class="row">
    <div class="col-6 mt-5">
      <h2>I’m Reem, a Fullstack Software Developer based in Montréal, Québec.</h2>
      <br>
      <p>
        I recently made a career switch from finance to software development. While working as a Financial Analyst at a tech company for the last 4 years, I grew more interested in the tech side and had been slowly dipping my feet into web development out of office. I took the plunge in April 2022 when I enrolled in a fulltime coding bootcamp, and have since immersed myself into building software.
      </p>
      <br>
      <p>
      I'm currently learning React and Typescript, and working on personal projects that help me develop my skills.
      </p>
      <br>
      <p>
        In my spare time you’ll find me making ceramics, trying new recipes in the kitchen, and dabbling with film photography.
      </p>
    </div>
    <div class="col-6 mt-5">
      <h2 class="d-flex justify-content-center">Skills & Tools</h2>
      <div class="d-flex justify-content-center align-items-center flex-wrap ms-4 item-bubble-container">
        <div class="item-bubble">Ruby on Rails</div>
        <div class="item-bubble">Javascript</div>
        <div class="item-bubble">Node.js</div>
        <div class="item-bubble">SQL</div>
        <div class="item-bubble">HTML/CSS</div>
        <div class="item-bubble">SCSS</div>
        <div class="item-bubble">Figma</div>
        <div class="item-bubble">Bootstrap</div>
        <div class="item-bubble">Git</div>
        <div class="item-bubble">Agile Methodology</div>
      </div>
    </div>
  </div>
</div>
