<div class="d-flex justify-content-between">
  <div class="home-heading-container">
    <div style="margin: 0 auto;">
      <h1 class="main-heading">Hi, I'm <span class="hover-underline-animation">Reem</span></h1>
      <br>
      <h2 style="margin-left: 100px">- a software developer.</h2>
      <br>
      <p style="margin-left: 100px"></p>
    </div>
  </div>

  <div>
    <div class="showcase-container">
      <div class="work-container">
        <div class="work-card brunchtime">
          <div class="work-desc">
            <p>WEB APP</p>
            <h3>brunchtime</h3>
          </div>
        </div>
        <div class="work-card">coming soon</div>
        <div class="work-card">coming soon</div>
      </div>
    </div>
  </div>
</div>
