<div class="container d-flex align-items-center justify-content-center flex-column" style="height: 330px" data-controller="contact-form" data-contact-form-target="thanks">
  <h3 style="color: #1B435D">Thank you for your message!</h3>
  <p>I'll get back to you as soon as possible.</p>
</div>
