.arrow-icon {
  width: 80px;
  transform: rotate(150deg);
  position: relative;
  left: 75px;
  // transition: all .3s ease-in-out;

  &:hover {
    // transform: rotate(150deg);
    // transform: translate3d(0,-5px,0);
  }
}
