.arrow-icon {
  width: 80px;
  transform: rotate(150deg);
  position: relative;
  left: 75px;
  // transition: all .3s ease-in-out;

  &:hover {
    // transition: transform .6s ease-in-out;
    // transform: rotate(180deg);
    animation: rotation 1.2s infinite linear;
  }

  @keyframes rotation {
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(150deg);
    }
  }
}
