.work-tags {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}

.work-skills {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 12px 8px 0;
  margin-bottom: 0;

  li {
    font-size: 14px;
    color: $dark-blue;
    display: inline;
    text-decoration: none;
    padding: 10px;
    background-color: $lighter-blue;
    margin: 12px 4px;
    border-radius: 15px;
  }
}
