.item-bubble {
  // background-color: $lighter-blue;
  background-image: linear-gradient(135deg, $lighter-blue, $light-orange, rgba(238, 130, 116, 0.747));
  border-radius: 20px;
  padding: 1.5em;
  width: 184px;
  text-align: center;
  margin: 10px;
  color: $dark-blue;
}

// .item-bubble-container {
//   background-image: linear-gradient(135deg, $light-orange, $lighter-blue, $burnt-orange);
//   border-radius: 20px;
// }
