.navbar-lewagon {
  justify-content: space-between;
  background: $light-orange;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}


.navbar-brand img {
  transition: transform .6s ease-in-out;

  &:hover {
    transform: rotate(360deg);
  }
}

.nav-link {
  color: $dark-blue !important;

  &:hover {
    color: $dark-blue !important;
  }
}

.dropdown-menu {
  border-radius: 20px;
  background: $lighter-blue;
}

.dropdown-toggle::after {
  border-top: 0.1em solid transparent !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; // remove the gap so it doesn't close
}

// if screen is 575px or less, "work" page option is hidden
@media screen and (max-width: 575px) {
  .work-dropdown {
    display: none;
  }
}

.dropdown-item:hover {
  background-color: $lighter-blue !important;
  color: $bright-orange;
  transition-delay: 0.08s;
}
