.work-card {
  height: 600px;
  margin: 0px 10px 80px;
  border-radius: 15px;
  position: relative;
  transition: all .3s ease-in-out;


  // &:hover {
  //   transform: translate3d(0,-5px,0);
  //   box-shadow: 0 40px 74px -3px rgba(238, 130, 116, 0.25);
  // }

  h3 {
    position: absolute;
    top: 40px;
    left: 40px;
    color: $burnt-orange;
  }
}

.work-img-div {
  height: 70%;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 8px 30px 3px rgba(238, 130, 116, 0.25);
}


.work-tags-links {
  display: flex;
  align-items: center;

  a {
  color: $dark-blue;
  font-size: 28px;
  padding: 10px;

    &:hover {
      color: $light-blue;
      transition: all .3s ease-in-out;
      &:hover {
        transform: translate3d(0,-5px,0);
      }
    }
  }

}

.work-desc {
  p {
    padding: 0 40px;
    text-align: center;
    justify-content: baseline;
  }

  a {
    color: $dark-blue;

    &:hover {
      color: $lighter-blue
    }
  }
}

.brunchtime {
  background-image: url("brunchtime-homepg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.ruby-games {
  background-image: url("snakegame2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.arood {
  background-color: $lighter-blue;
}
