.work-card {
  height: 400px;
  margin: 0 auto 30px;
  border-radius: 15px;
  position: relative;
  transition: all .3s ease-in-out;

  // &:hover {
  //   transform: translate3d(0,-5px,0);
  //   box-shadow: 0 40px 74px -3px rgba(238, 130, 116, 0.25);
  // }

  h3 {
    position: absolute;
    top: 40px;
    left: 40px;
    color: $burnt-orange;
  }
}

.work-img-div {
  height: 90%;
  border-radius: 15px;
  margin: 0 auto;
}

.work-desc {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}


.work-desc-links {
  display: flex;
  align-items: center;

  a {
  color: $dark-blue;
  font-size: 24px;
  padding: 10px;

    &:hover {
      color: $light-blue;
      transition: 0.5s;
    }
  }

}


.brunchtime {
  background-image: url("brunchtime-homepg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.ruby-games {
  background-image: url("snakegame.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.arood {
  background-color: $lighter-blue;
}
